In [ ]:
# Q1) What are data structures, and why are they important.
#Answer) Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage
#information based on its characteristics and intended use.
#Think of them as containers that hold your data and determine how you can interact with it. Different containers are better suited for different types of items.
#Choosing the right data structure significantly impacts the efficiency and performance of your program.
#Well-chosen data structures can:
#Simplify data manipulation (adding, removing, modifying elements)
#Optimize searching and sorting operations
#Conserve memory usage

In [ ]:
#Q2) Explain the difference between mutable and immutable data types with examples.
#Answer) Lists are mutable objects however tuples aren't. This means the value written in lists can be accessed and manipulated easily, but
#the values in tuples can't be manipulated or accessed through indexing. For example, the aadhar card number, passport number, school admisiion number should not be
#changed at all, hence tuples are important, however the height, age, weight of a person, change with time and hence the value changes, thus lists are also important.

In [ ]:
#Q3)What are the main differences between lists and tuples in Python.
#Answer)The main diffrence is that lists are mutable in natur and tuples are immutable in nature.

In [ ]:
#Q4) Describe how dictionaries store data.
#Answer) Dictionaries are the fastest data structure of them all. They store data in the form of key value pair.
#For example in a phonebook, the phone numbers can be stored, accessed and manipulated easily.
phonebook = {"Dad":1234 , "Mom":456}
phonebook["Dad"] # can be accessed easily
phonebook = {"Dad":1234 , "Mom":456 , "Dad":780}
phonebook["Dad"] #the latest entry overwrites the old entry, therefore can be manipulated easily.

780

In [ ]:
#Q5)Why might you use a set instead of a list in Python.
#Answer)Sets and lists are both immutable in nature however sets unordered collection of unique elements, i.e. it only prints
#unique values i.e. repeated elements won’t be printed, making the task easier.

In [ ]:
#Q6)What is a string in Python, and how is it different from a list.
#Answer) String is a data type and contains charecters.Lists are mutable but string's are immutable in nature.

In [ ]:
#Q7)How do tuples ensure data integrity in Python?
#Tuples are immuatble in nature and hnece ensire data intergrity.

Q8) What is a hash table, and how does it relate to dictionaries in Python.Ans)A hash table, also known as a hash map, is a data structure that stores data in an associative manner, allowing for quick retrieval of values based on their associated keys.

Q9)Can lists contain different data types in Python. Ans) Yes, it can have any form of data i.e. strings, mixed values, numbers, integers,floats, boolean value. It is hetrogenous in nature.

Q10) Explain why strings are immutable in Python. Ans) It is because strings do not support item assignemnet.

Q11)What advantages do dictionaries offer over lists for certain tasks. Ans) Dictionaries are the fastest type of data structure, and stores data in the form of key value pair. Talking a phonebook example, a person's number can change with due time, so in dictionary the first value of let's say person1 changes to the latest data entry of the new phone number of person1. Thus the first vlaue can be overwritten by the latest value, but in lists the person1 has two numbers. It does not overwrite the fisrt value, it's still saved in the memory box. In dictionaries the last key value is used.

Q12)Describe a scenario where using a tuple would be preferable over a list.
Ans) Tuples are immutable in nature, so for example we need to sotre some important document's numbers like the Aadhar card, Passport number etc then tupples are to be chosen over lists because lists are muatble in nature.

Q13) How do sets handle duplicate values in Python. Ans) Ses are unordered collection of unique elements, so they do not print the dupliacte values in the block.

Q14)How does the “in” keyword work differently for lists and dictionaries.Ans)As mentioned above, the in operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list.

Q15)Can you modify the elements of a tuple? Explain why or why not. Ans) No you cannot, tuples are immutable in nature.

Q16)What is a nested dictionary, and give an example of its use case.

Q17) Describe the time complexity of accessing elements in a dictionary.

Q18)In what situations are lists preferred over dictionaries. Ans) For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

Q19) Why are dictionaries considered unordered, and how does that affect data retrieval. Ans) Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order, as simple as that.

Q20)Explain the difference between a list and a dictionary in terms of data retrieval.Ans)Lists retrieve elements based on their numerical index, while dictionaries retrieve elements based on their unique keys. Lists are ordered collections, and dictionaries are unordered collections of key-value pairs.

PRACTICAL QUESTIONS:

In [ ]:
#Q1)Write a code to create a string with your name and print it.
string = "Chhavi"
string

'Chhavi'

In [ ]:
#Q2)Write a code to find the length of the string "Hello World".
string = "Hello World"
len(string)

11

In [ ]:
#Q3)Write a code to slice the first 3 characters from the string "Python Programming".
a = "Python Programming"
a[0:3]

'Pyt'

In [ ]:
#Q4)Write a code to convert the string "hello" to uppercase.
string = "hello"
string.title()

'Hello'

In [ ]:
#Q5)Write a code to replace the word "apple" with "orange" in the string "I like apple".
a = ("I like apple.")
a.replace("apple","orange")

'I like orange.'

In [ ]:
#Q6)Write a code to create a list with numbers 1 to 5 and print it
for l in range(0,6):
  print(l)

0
1
2
3
4
5

In [ ]:
#Q7)Write a code to append the number 10 to the list [1, 2, 3, 4].
l=[1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [ ]:
#Q8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
l=[1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [ ]:
#Q9)Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
l=['a', 'b', 'c', 'd']
l[1]

'b'

In [ ]:
#Q10)Write a code to reverse the list [10, 20, 30, 40, 50].
l=[10,20,30,40,50]
l[::-1]

[50, 40, 30, 20, 10]

In [ ]:
#Q11)Write a code to create a tuple with the elements 100, 200, 300 and print it.
a=(100,200,300)
print(a)

(100, 200, 300)

In [ ]:
#Q12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
a = ('red', 'green', 'blue', 'yellow')
a[-2]

'blue'

In [ ]:
#Q13)Write a code to find the minimum number in the tuple (10, 20, 5, 15).
a=(10, 20, 5, 15)
minimum_number= min(a)
print(minimum_number)

5

In [ ]:
#Q14)Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
a = ('dog', 'cat', 'rabbit')
a[1]

'cat'

In [ ]:
#Q15)Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
a = ["banana","kiwi","oranges"]
if "kiwi" in a:
  print("Kiwi is there in the list")
else:
  print("Kiwi is not present in the list")

Kiwi is there in the list

In [ ]:
#Q16)Write a code to create a set with the elements 'a', 'b', 'c' and print it.
a = ('a', 'b', 'c')
a

('a', 'b', 'c')

In [ ]:
#Q17)Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
a = {1, 2, 3, 4, 5}
a.clear()

In [ ]:
#Q18) Write a code to remove the element 4 from the set {1, 2, 3, 4}.
a = [1, 2, 3, 4]
a.remove(4)
print(a)

[1, 2, 3]

In [ ]:
#Q19)Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1,2,3}
b = {3,4,5}
c = a.union(b)
print(c)

{1, 2, 3, 4, 5}

In [ ]:
#Q20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1 , 2, 3}
b = {2 , 3, 4}
c = a.intersection(b)
print(c)

{2, 3}

In [ ]:
#Q21)Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
a = {"name":"Chhavi" , "age":"15+" , "city":"Kolkata"}
print(a)

{'name': 'Chhavi', 'age': '15+', 'city': 'Kolkata'}

In [ ]:
#Q22)Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
a = {'name': 'John', 'age': 25 , "country":"USA"}
print(a)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
 #Q23)Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
 a =  {'name':'Alice', 'age': 30}
 print("Name=",a["name"])

Name= Alice

In [ ]:
#Q23) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
a = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del a["age"]
a

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#Q24) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
a = {'name': 'Alice', 'city': 'Paris'}
if "city" in a:
  print("True")
else:
  print("False")

True

In [ ]:
#Q25)Write a code to create a list, a tuple, and a dictionary, and print them all.
a = [1,2,3,4]
b=(1,2,3,4)
c={"1st number":"1" , "2nd number":"2"}
print("List",a)
print("Tuple",b)
print("Dictionary",c)

List [1, 2, 3, 4]
Tuple (1, 2, 3, 4)
Dictionary {'1st number': '1', '2nd number': '2'}

In [ ]:
#Q26)Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
import random
a = [1,24,56,7,32]
b= sorted(a)
print("The ascending order of the list is:",b)

The ascending order of the list is: [1, 7, 24, 32, 56]

In [ ]:
#Q27) Write a code to create a list with strings and print the element at the third index.
a = ['banana','coke','shoulder','okay']
a[2]

'shoulder'

In [ ]:
#Q28) Write a code to combine two dictionaries into one and print the result.
c={"1st number":"1" , "2nd number":"2"}
a = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d = c|a
print(d)

{'1st number': '1', '2nd number': '2', 'name': 'Bob', 'age': 22, 'city': 'New York'}

In [6]:
#Q29)Write a code to combine two dictionaries into one and print the result.
a= {'name': 'Bob', 'age': 22, 'city': 'New York'}
b= {'mother':'Priya'}
a.update(b)
print(a)

{'name': 'Bob', 'age': 22, 'city': 'New York', 'mother': 'Priya'}

In [7]:
#Q30) Write a code to convert a list of strings into a set.
sring = ['ajay','bijay','lala','mala']
sets = set(sring)
print(sets)

{'lala', 'bijay', 'ajay', 'mala'}